body{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
a{
    text-decoration: none;
    color: rgb(0, 35, 100);
}
header{
    display: flex;
    justify-content: space-between;
    height: 35px;
    background: transparent;
}
/* left-container */
header .left-container {
    display: flex;
    align-items: center;
}
/* logo */
header .left-container .logo{
    margin: 20px;
    font-family: "Playfair Display", serif;
}
/* menu */
header .left-container .menu {
    margin-left: 10px;   
}
header .left-container .main-menu{
    display: flex;
    font-size: 10px;
    list-style: none;
    gap: 20px;
    padding: 0;
}
header .left-container .main-menu .item-menu .submenu{
    display: none;
}
/* item-menu */

/* right-container */
header .right-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap:10px;
    font-size: 60%;
    color: rgb(0, 35, 100);
}