body{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
a{
    text-decoration: none;
    color: rgb(0, 35, 100);
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    background: transparent;
    
}
/* left-container */
header .left-container {
    display: flex;
    align-items: center;
}
/* logo */
header .left-container .logo{
    margin: 20px;
    font-family: "Playfair Display", serif;
}
/* menu */
header .left-container .menu {
    margin-left: 10px;   
}
header .left-container .main-menu{
    display: flex;
    font-size: 10px;
    list-style: none;
    gap: 20px;
    padding: 0;
}
/* item-menu */
header .left-container .main-menu .item-menu .submenu{
    display: none;
}
header .left-container .main-menu .item-menu:hover .submenu{
    display: block;
    position: fixed;
    top: 35px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 1000;
    line-height: 15px;
}
header .left-container .main-menu .item-menu:hover .submenu a{
    display: block;
}
/* right-container */
header .right-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap:10px;
    font-size: 60%;
    color: rgb(0, 35, 100);
}